html, body {
  font-family: sans-serif;
  font-size: 18px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

button {
  font-size: 24px;
  padding: 12px;
}

table {
  margin: auto;
}

.screen {
  display: none;
  padding: 16px;
}

.screen.active {
  display: block;
}

.button-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.button-grid button {
  height: 50px;
  margin: 5px;
  padding: 0px;
  text-align: center;
  width: 50px;
}

.subtext {
  font-size: 14px;
  padding-top: 8px;
}

.checkbox {
  margin-top: 8px;
}

.checkbox label {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}

.align-center {
  text-align: center;
}
